# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.cursor/

# Operating system files
.DS_Store
Thumbs.db

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep